head
	title AwesomeTV
	<meta charset="utf8" />
	link(rel="stylesheet", href="/stylesheets/normalize.css")
	link(rel="stylesheet", href="/stylesheets/style.css")
	script(src="/scripts/jessie.js")
	script(src="/scripts/awesome.js")